*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Fira Code";
    font-weight: 100;
    src: url("../fonts/FiraCode-Light.ttf");
}

@font-face {
    font-family: "Monitorca";
    src: url("../fonts/Monitorca-Rg.ttf");
}

@font-face {
    font-family: "Leto One Defect";
    src: url("../fonts/Glen Jan - LetoOneDefect.otf");
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/UbuntuMono-Regular.ttf");
}

html {
    background: #fff;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

svg {
    width: 10rem;
    fill: #555;
}

svg .slash {
    transform-origin: 12.5% center;
    transition: all 1s ease-in-out;
}

svg .lt,
.gt {
    transform-origin: 12.5% center;
    transition: all 1s ease-in-out;
}

svg:hover .slash {
    transform: rotate(2.25turn);
}

svg:hover .lt {
    transform: rotate(-0.25turn);
}

svg:hover .gt {
    transform: rotate(-0.25turn);
}

h1 {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 100;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    /* padding: 0 0.2rem; */
    font-family: "Fira Code", monospace;
    color: #333;
    font-weight: 100;
    font-size: 0.9rem;
}

nav a::before {
    content: "</";
}

nav a::after {
    content: ">";
}

nav a::before,
nav a::after {
    color: #f55;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

nav a:hover::before,
nav a:hover::after {
    opacity: 1;
}

.logo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Code', monospace;
    font-weight: 900;
}

.logo span {
    display: inline-block;
    color: #f55;
}

section {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

._visible {
    opacity: 1;
    transition: opacity 0.9s ease-in;
}

.page__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page__about p {
    font-family: "Monitorca";
}

footer p {
    padding: 0.5rem;
    font-family: "Fira Code", monospace;
    font-weight: 50;
    font-size: 0.8rem;
    color: #555;
}

footer span {
    color: #f55;
    display: inline-block;
}

footer .ats {
    padding-right: 0.35rem;
    transform-origin: 16% 50%;
}

footer .heart {
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 0.65rem;
}

footer:hover .heart {
    animation: 0.5s ease-in-out infinite beat;
}

footer:hover .ats {
    animation: 0.5s linear infinite rotate;
}

footer:hover .aka {
    animation: 1s linear infinite flip;
}

@keyframes beat {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.5;
    }
    100% {
        scale: 1.2;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flip {
    100% {
        transform: rotatey(360deg);
    }
}
